$icomoon-font-family: "Line-Icon-Pack" !default;
$icomoon-font-path: "fonts" !default;

$icon-ic-actions-add: "\e900";
$icon-ic-actions-add-file: "\e901";
$icon-ic-actions-add-ribbon: "\e902";
$icon-ic-actions-add-simple: "\e903";
$icon-ic-actions-add-tab: "\e904";
$icon-ic-actions-bag: "\e905";
$icon-ic-actions-bookmark: "\e906";
$icon-ic-actions-bookmarks: "\e907";
$icon-ic-actions-calendar: "\e908";
$icon-ic-actions-close: "\e909";
$icon-ic-actions-closed-user: "\e90a";
$icon-ic-actions-closed-view: "\e90b";
$icon-ic-actions-close-simple: "\e90c";
$icon-ic-actions-code: "\e90d";
$icon-ic-actions-danger: "\e90e";
$icon-ic-actions-danger-simple: "\e90f";
$icon-ic-actions-download: "\e910";
$icon-ic-actions-emultiple-edit: "\e911";
$icon-ic-actions-file: "\e912";
$icon-ic-actions-go-out: "\e913";
$icon-ic-actions-half-layout: "\e914";
$icon-ic-actions-hashtag: "\e915";
$icon-ic-actions-heart: "\e916";
$icon-ic-actions-check: "\e917";
$icon-ic-actions-check-simple: "\e918";
$icon-ic-actions-layout: "\e919";
$icon-ic-actions-library: "\e91a";
$icon-ic-actions-list: "\e91b";
$icon-ic-actions-list-add: "\e91c";
$icon-ic-actions-list-close: "\e91d";
$icon-ic-actions-list-contact: "\e91e";
$icon-ic-actions-list-check: "\e91f";
$icon-ic-actions-list-remove: "\e920";
$icon-ic-actions-list-users: "\e921";
$icon-ic-actions-loading-1: "\e922";
$icon-ic-actions-loading-2: "\e923";
$icon-ic-actions-loarder: "\e924";
$icon-ic-actions-log-in: "\e925";
$icon-ic-actions-log-out: "\e926";
$icon-ic-actions-menu: "\e927";
$icon-ic-actions-more-1: "\e928";
$icon-ic-actions-more-2: "\e929";
$icon-ic-actions-multi: "\e92a";
$icon-ic-actions-multi-success: "\e92b";
$icon-ic-actions-newtab: "\e92c";
$icon-ic-actions-new-window: "\e92d";
$icon-ic-actions-notifications: "\e92e";
$icon-ic-actions-notifications-add: "\e92f";
$icon-ic-actions-notifications-close: "\e930";
$icon-ic-actions-notifications-check: "\e931";
$icon-ic-actions-notifications-remove: "\e932";
$icon-ic-actions-paper-close: "\e933";
$icon-ic-actions-paper-check: "\e934";
$icon-ic-actions-paper-remove: "\e935";
$icon-ic-actions-paste: "\e936";
$icon-ic-actions-pin: "\e937";
$icon-ic-actions-pointer: "\e938";
$icon-ic-actions-power: "\e939";
$icon-ic-actions-remove: "\e93a";
$icon-ic-actions-remove-ribbon: "\e93b";
$icon-ic-actions-remove-simple: "\e93c";
$icon-ic-actions-remove-tab: "\e93d";
$icon-ic-actions-search: "\e93e";
$icon-ic-actions-select: "\e93f";
$icon-ic-actions-selected: "\e940";
$icon-ic-actions-settings: "\e941";
$icon-ic-actions-star: "\e942";
$icon-ic-actions-switch-off: "\e943";
$icon-ic-actions-switch-on: "\e944";
$icon-ic-actions-thumbs-up: "\e945";
$icon-ic-actions-timer: "\e946";
$icon-ic-actions-trash: "\e947";
$icon-ic-actions-user: "\e948";
$icon-ic-actions-view: "\e949";
$icon-ic-arrows-bottom: "\e94a";
$icon-ic-arrows-left: "\e94b";
$icon-ic-arrows-left-right: "\e94c";
$icon-ic-arrows-right: "\e94d";
$icon-ic-arrows-top: "\e94e";
$icon-ic-arrows-top-bottom: "\e94f";
$icon-ic-construction-coasters: "\e950";
$icon-ic-construction-cone: "\e951";
$icon-ic-construction-drill: "\e952";
$icon-ic-construction-hammer: "\e953";
$icon-ic-construction-hook: "\e954";
$icon-ic-construction-ladder: "\e955";
$icon-ic-construction-meter: "\e956";
$icon-ic-construction-nail: "\e957";
$icon-ic-construction-ruler: "\e958";
$icon-ic-construction-sharpener: "\e959";
$icon-ic-construction-shovel: "\e95a";
$icon-ic-construction-stop: "\e95b";
$icon-ic-contact-browser: "\e95c";
$icon-ic-contact-edit: "\e95d";
$icon-ic-contact-edit-contact: "\e95e";
$icon-ic-contact-chat: "\e95f";
$icon-ic-contact-mail: "\e960";
$icon-ic-contact-map-pin: "\e961";
$icon-ic-contact-message: "\e962";
$icon-ic-contact-mobile: "\e963";
$icon-ic-contact-phone: "\e964";
$icon-ic-contact-phone-2: "\e965";
$icon-ic-contact-phone-time: "\e966";
$icon-ic-contact-time: "\e967";
$icon-ic-devices-camera: "\e968";
$icon-ic-devices-controller: "\e969";
$icon-ic-devices-desktop: "\e96a";
$icon-ic-devices-headphones: "\e96b";
$icon-ic-devices-ipad: "\e96c";
$icon-ic-devices-keyboard: "\e96d";
$icon-ic-devices-laptop: "\e96e";
$icon-ic-devices-mobile: "\e96f";
$icon-ic-devices-mouse: "\e970";
$icon-ic-devices-tablet: "\e971";
$icon-ic-devices-vr: "\e972";
$icon-ic-devices-watch: "\e973";
$icon-ic-directions-again: "\e974";
$icon-ic-directions-connect-up: "\e975";
$icon-ic-directions-left: "\e976";
$icon-ic-directions-left-right: "\e977";
$icon-ic-directions-left-up: "\e978";
$icon-ic-directions-right: "\e979";
$icon-ic-directions-right-left: "\e97a";
$icon-ic-directions-right-left-up: "\e97b";
$icon-ic-directions-right-up: "\e97c";
$icon-ic-directions-round: "\e97d";
$icon-ic-directions-turn-back: "\e97e";
$icon-ic-directions-two-points: "\e97f";
$icon-ic-ecommerce-badge: "\e980";
$icon-ic-ecommerce-basket: "\e981";
$icon-ic-ecommerce-card: "\e982";
$icon-ic-ecommerce-cart: "\e983";
$icon-ic-ecommerce-delivery: "\e984";
$icon-ic-ecommerce-gift: "\e985";
$icon-ic-ecommerce-house: "\e986";
$icon-ic-ecommerce-invoice: "\e987";
$icon-ic-ecommerce-money: "\e988";
$icon-ic-ecommerce-qr: "\e989";
$icon-ic-ecommerce-sign: "\e98a";
$icon-ic-ecommerce-tag: "\e98b";
$icon-ic-editor-attachament: "\e98c";
$icon-ic-editor-block: "\e98d";
$icon-ic-editor-capital: "\e98e";
$icon-ic-editor-capitalize: "\e98f";
$icon-ic-editor-center: "\e990";
$icon-ic-editor-color: "\e991";
$icon-ic-editor-left: "\e992";
$icon-ic-editor-right: "\e993";
$icon-ic-editor-scale: "\e994";
$icon-ic-editor-space: "\e995";
$icon-ic-editor-table: "\e996";
$icon-ic-editor-uncolor: "\e997";
$icon-ic-emoji-angry: "\e998";
$icon-ic-emoji-blink: "\e999";
$icon-ic-emoji-crazy-happy: "\e99a";
$icon-ic-emoji-crying: "\e99b";
$icon-ic-emoji-feel-crazy: "\e99c";
$icon-ic-emoji-feel-quite-good: "\e99d";
$icon-ic-emoji-pretty-good: "\e99e";
$icon-ic-emoji-quite-ok: "\e99f";
$icon-ic-emoji-sad: "\e9a0";
$icon-ic-emoji-super-smile: "\e9a1";
$icon-ic-emoji-weird: "\e9a2";
$icon-ic-emoji-weird-2: "\e9a3";
$icon-ic-folder-add: "\e9a4";
$icon-ic-folder-close: "\e9a5";
$icon-ic-folder-download: "\e9a6";
$icon-ic-folder-edit: "\e9a7";
$icon-ic-folder-favorite: "\e9a8";
$icon-ic-folder-heart: "\e9a9";
$icon-ic-folder-locked: "\e9aa";
$icon-ic-folder-media: "\e9ab";
$icon-ic-folder-remove: "\e9ac";
$icon-ic-folder-settings: "\e9ad";
$icon-ic-folder-simple: "\e9ae";
$icon-ic-folder-user: "\e9af";
$icon-ic-furniture-bed: "\e9b0";
$icon-ic-furniture-desk: "\e9b1";
$icon-ic-furniture-chair: "\e9b2";
$icon-ic-furniture-lamp: "\e9b3";
$icon-ic-furniture-light: "\e9b4";
$icon-ic-furniture-mirror: "\e9b5";
$icon-ic-furniture-pouch: "\e9b6";
$icon-ic-furniture-rack: "\e9b7";
$icon-ic-furniture-seat: "\e9b8";
$icon-ic-furniture-shelf: "\e9b9";
$icon-ic-furniture-small-bed: "\e9ba";
$icon-ic-furniture-wardrobe: "\e9bb";
$icon-ic-chevron-down: "\e9bc";
$icon-ic-chevron-left: "\e9bd";
$icon-ic-chevron-left-right: "\e9be";
$icon-ic-chevron-right: "\e9bf";
$icon-ic-chevron-top: "\e9c0";
$icon-ic-chevron-top-bottom: "\e9c1";
$icon-ic-kitchen-board: "\e9c2";
$icon-ic-kitchen-bowl: "\e9c3";
$icon-ic-kitchen-dipper: "\e9c4";
$icon-ic-kitchen-fork: "\e9c5";
$icon-ic-kitchen-fridge: "\e9c6";
$icon-ic-kitchen-knife: "\e9c7";
$icon-ic-kitchen-microoven: "\e9c8";
$icon-ic-kitchen-plate: "\e9c9";
$icon-ic-kitchen-pot: "\e9ca";
$icon-ic-kitchen-roller: "\e9cb";
$icon-ic-kitchen-salt: "\e9cc";
$icon-ic-kitchen-spoon: "\e9cd";
$icon-ic-layout-content-left: "\e9ce";
$icon-ic-layout-content-right: "\e9cf";
$icon-ic-layout-footer: "\e9d0";
$icon-ic-layout-header: "\e9d1";
$icon-ic-layout-image-thumbnail: "\e9d2";
$icon-ic-layout-left-menu: "\e9d3";
$icon-ic-layout-multiple-grid: "\e9d4";
$icon-ic-layout-picture-left: "\e9d5";
$icon-ic-layout-picture-right: "\e9d6";
$icon-ic-layout-right-menu: "\e9d7";
$icon-ic-layout-sections: "\e9d8";
$icon-ic-layout-square-grid: "\e9d9";
$icon-ic-media-backward: "\e9da";
$icon-ic-media-collection: "\e9db";
$icon-ic-media-disk: "\e9dc";
$icon-ic-media-forward: "\e9dd";
$icon-ic-media-microphone: "\e9de";
$icon-ic-media-mixer: "\e9df";
$icon-ic-media-note: "\e9e0";
$icon-ic-media-play: "\e9e1";
$icon-ic-media-stop: "\e9e2";
$icon-ic-media-volume: "\e9e3";
$icon-ic-media-volume-down: "\e9e4";
$icon-ic-media-volume-up: "\e9e5";
$icon-ic-medicine-ampoule: "\e9e6";
$icon-ic-medicine-bag: "\e9e7";
$icon-ic-medicine-cells: "\e9e8";
$icon-ic-medicine-dna: "\e9e9";
$icon-ic-medicine-heart-beat: "\e9ea";
$icon-ic-medicine-heart-hear: "\e9eb";
$icon-ic-medicine-helicopter: "\e9ec";
$icon-ic-medicine-liquid: "\e9ed";
$icon-ic-medicine-patch: "\e9ee";
$icon-ic-medicine-pill: "\e9ef";
$icon-ic-medicine-ribbon: "\e9f0";
$icon-ic-medicine-syringe: "\e9f1";
$icon-ic-mobile-battery: "\e9f2";
$icon-ic-mobile-battery-full: "\e9f3";
$icon-ic-mobile-bluetooth: "\e9f4";
$icon-ic-mobile-contrast: "\e9f5";
$icon-ic-mobile-full-wifi: "\e9f6";
$icon-ic-mobile-gps-off: "\e9f7";
$icon-ic-mobile-gps-on: "\e9f8";
$icon-ic-mobile-light: "\e9f9";
$icon-ic-mobile-no-signal: "\e9fa";
$icon-ic-mobile-signal: "\e9fb";
$icon-ic-mobile-signal-cell: "\e9fc";
$icon-ic-mobile-signal-cell-full: "\e9fd";
$icon-ic-places-beacon: "\e9fe";
$icon-ic-places-bridge: "\e9ff";
$icon-ic-places-carousel: "\ea00";
$icon-ic-places-castle: "\ea01";
$icon-ic-places-cinema: "\ea02";
$icon-ic-places-court: "\ea03";
$icon-ic-places-church: "\ea04";
$icon-ic-places-mall: "\ea05";
$icon-ic-places-mosque: "\ea06";
$icon-ic-places-mountains: "\ea07";
$icon-ic-places-park: "\ea08";
$icon-ic-places-tent: "\ea09";
$icon-ic-real-estate-bath: "\ea0a";
$icon-ic-real-estate-clima: "\ea0b";
$icon-ic-real-estate-count: "\ea0c";
$icon-ic-real-estate-fence: "\ea0d";
$icon-ic-real-estate-flat: "\ea0e";
$icon-ic-real-estate-plan: "\ea0f";
$icon-ic-real-estate-pool: "\ea10";
$icon-ic-real-estate-search-house: "\ea11";
$icon-ic-real-estate-shower: "\ea12";
$icon-ic-real-estate-stairs: "\ea13";
$icon-ic-real-estate-washer: "\ea14";
$icon-ic-real-estate-water: "\ea15";
$icon-ic-security-alarm: "\ea16";
$icon-ic-security-camera: "\ea17";
$icon-ic-security-fingerprint: "\ea18";
$icon-ic-security-hidden-camera: "\ea19";
$icon-ic-security-key: "\ea1a";
$icon-ic-security-locked: "\ea1b";
$icon-ic-security-safe: "\ea1c";
$icon-ic-security-safety: "\ea1d";
$icon-ic-security-secured-profile: "\ea1e";
$icon-ic-security-shield: "\ea1f";
$icon-ic-security-unlocked: "\ea20";
$icon-ic-security-unsecured: "\ea21";
$icon-ic-shopping-bag: "\ea22";
$icon-ic-shopping-box: "\ea23";
$icon-ic-shopping-cash-register: "\ea24";
$icon-ic-shopping-code: "\ea25";
$icon-ic-shopping-discount: "\ea26";
$icon-ic-shopping-escalator: "\ea27";
$icon-ic-shopping-house: "\ea28";
$icon-ic-shopping-parfume: "\ea29";
$icon-ic-shopping-rack: "\ea2a";
$icon-ic-shopping-sign: "\ea2b";
$icon-ic-shopping-t-shirt: "\ea2c";
$icon-ic-shopping-wallet: "\ea2d";
$icon-ic-social-android: "\ea2e";
$icon-ic-social-apple: "\ea2f";
$icon-ic-social-behance: "\ea30";
$icon-ic-social-dribbble: "\ea31";
$icon-ic-social-dropbox: "\ea32";
$icon-ic-social-facebook: "\ea33";
$icon-ic-social-instagram: "\ea34";
$icon-ic-social-linkedin: "\ea35";
$icon-ic-social-paypal: "\ea36";
$icon-ic-social-trello: "\ea37";
$icon-ic-social-twitter: "\ea38";
$icon-ic-social-youtube: "\ea39";
$icon-ic-sport-basketball: "\ea3a";
$icon-ic-sport-bottle: "\ea3b";
$icon-ic-sport-dumbbell: "\ea3c";
$icon-ic-sport-football: "\ea3d";
$icon-ic-sport-golf: "\ea3e";
$icon-ic-sport-jump-rope: "\ea3f";
$icon-ic-sport-rugby: "\ea40";
$icon-ic-sport-small-dumbbell: "\ea41";
$icon-ic-sport-soccer-field: "\ea42";
$icon-ic-sport-winner: "\ea43";
$icon-ic-sport-winner_1: "\ea44";
$icon-ic-sport-yard: "\ea45";
$icon-ic-statistics-2: "\ea46";
$icon-ic-statistics-3: "\ea47";
$icon-ic-statistics-4: "\ea48";
$icon-ic-statistics-5: "\ea49";
$icon-ic-statistics-6: "\ea4a";
$icon-ic-statistics-7: "\ea4b";
$icon-ic-statistics-circle-chart: "\ea4c";
$icon-ic-statistics-funnel: "\ea4d";
$icon-ic-statistics-chart-0: "\ea4e";
$icon-ic-statistics-chart-1: "\ea4f";
$icon-ic-statistics-speed: "\ea50";
$icon-ic-statistics-workflow: "\ea51";
$icon-ic-users-add: "\ea52";
$icon-ic-users-arrow-down: "\ea53";
$icon-ic-users-arrow-left: "\ea54";
$icon-ic-users-arrow-right: "\ea55";
$icon-ic-users-arrow-up: "\ea56";
$icon-ic-users-close: "\ea57";
$icon-ic-users-confirm: "\ea58";
$icon-ic-users-info: "\ea59";
$icon-ic-users-more: "\ea5a";
$icon-ic-users-remove: "\ea5b";
$icon-ic-users-time: "\ea5c";
$icon-ic-users-warning: "\ea5d";
$icon-ic-weather-bolt: "\ea5e";
$icon-ic-weather-cloud: "\ea5f";
$icon-ic-weather-cloudy: "\ea60";
$icon-ic-weather-drop: "\ea61";
$icon-ic-weather-moon: "\ea62";
$icon-ic-weather-snow: "\ea63";
$icon-ic-weather-sunny: "\ea64";
$icon-ic-weather-temperature: "\ea65";
$icon-ic-weather-umbrella: "\ea66";
$icon-ic-weather-wind: "\ea67";
$icon-ic-weather-wind-storm: "\ea68";
$icon-ic-weather-wind-storm-rain: "\ea69";

